// Main style group

// We can add out custom bootstrap styles here:
$primary: #4384c7;
$bg-primary-dark: #657B83;

// Dropdown hover:
$dropdown-link-hover-color:         #f8f9fa;
$dropdown-link-hover-bg:            $primary;

// Required Bootstrap files
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Custom themes
@import "../scss/modules/modules-dir";

// Bootstrap's modules
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/utilities";   // Navbar dependency
@import "../bootstrap/scss/transitions"; // Navbar dependency
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/close";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/custom-forms";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/pagination";