// #################### GENERAL FORM SECTION ####################
.form-container {
  @include make-container();
}

.form-row {
  @include make-row();
}

.form-wrapper {
  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(10);
  }
}