// #################### GENERAL SECTION ####################
.carousel-wrapper {
  @include make-col-ready();

  @include make-col(12);
}

.text-wrapper {
  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(10);
  }
}

// #################### NAVBAR SECTION ####################
.navbar-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.navbar-brand {
  @media (max-width: 768px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: -18px 0;
  }
}

.brand-highlight {
  font-weight: bold;
}

/* #################### NAVBAR SECTION #################### */
.navbar-nav {
  .nav-item {
    @media (max-width: 768px) {
      padding: 0.25rem 0;
    }
  }
}

// #################### PROBLEM SECTION ####################
.navbar-separator {
  padding-top: 56px;
}

.separator {
  margin: 3rem 0;
}

// #################### PROBLEM SECTION ####################
.page-footer {
  display: flex;
  justify-content: center;
  padding: .75rem 0;
  background-color: $bg-primary-dark;
}

.footer-copyright {
  color: $white;
}